<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 不使用spring管理 -->
    <!--<settings>-->
        <!--<setting name="cacheEnabled" value="false"/>-->
        <!--<setting name="useGeneratedKeys" value="true"/>-->
        <!--<setting name="defaultExecutorType" value="REUSE"/>-->
    <!--</settings>-->
    <!---->
    <!--&lt;!&ndash;<typeAliases>&ndash;&gt;-->
        <!--&lt;!&ndash;<typeAlias type="TestUser" alias="com.jd.cms.test.mybatis.mybatisJdbc.TestUser"></typeAlias>&ndash;&gt;-->
    <!--&lt;!&ndash;</typeAliases>&ndash;&gt;-->
    <!---->
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"></transactionManager>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver" />-->

                <!--<property name="url" value="jdbc:mysql://116.196.79.167:3306/test?useUnicode=true&amp;characterEncoding=UTF-8" />-->

                <!--<property name="username" value="root" />-->

                <!--<property name="password" value="Ksis923Hhv&amp;8g" />-->

            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <mappers>
        <mapper resource="sqlMap-testUser.xml"/>
    </mappers>
</configuration>
